logs
project/project
project/target
target
tmp
.idea
.project
.classpath
.cache
.target/
.git/
.settings
.sbt
.DS_Store
data/

*.db
/nbproject/private/
data/.DS_Store

.DS_Store

public/.DS_Store

public/client-new/js/.DS_Store

beamstream.sublime-project
beamstream.sublime-workspace
