logs
project/project
project/target
target
tmp
.idea
.project
.classpath
.cache
.target/
.git/
.settings
.sbt
.DS_Store
data/
faces/

*.db
/nbproject/private/
data/.DS_Store

.DS_Store

public/.DS_Store

public/client-new/js/.DS_Store

beamstream.sublime-project
beamstream.sublime-workspace
edu.stanford.nlp.stanford-corenlp-3.3.1-models.jar
