/*
 * Style overrides for main theme
 */

.user-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.skin-1 .img-circle {
  border-radius: 50%;
}

.navbar-header-brand {
  margin-top: 20px;
  margin-left: 10px;
}

.skin-1 .ibox-content:last-child {
  border-style: none;
}

.mailbox-col {
  margin-left: -30px;
  margin-right: -30px;
}
.mail-box {
  overflow-y: scroll;
  height: 460px;
}
.mailbox-content {
  background: none;
  border: none;
  padding: 0px;
  overflow-y: scroll;
  max-height: 600px;
}
.mail-box-header h2 {
  font-weight: 600;
}
.mail-box-header h2 small {
  opacity: 0.6;
}
.mail-message {
  border-top: none
  padding: 0 0 10px 0;
}
.inbox-message-list li.active {
  background: #FFF;
  border: 1px solid #e7eaec;
  border-right:0;
  border-top:0;
}
.inbox-message-list li.active:first-child {
  border-top: 1px solid #e7eaec;
}
.inbox-message-list li .label {
  margin-right: 10px;
  font-size: 8px;
  padding: 3px 5px;
}
.inbox-message-list li img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px
}
.inbox-message-list li a {
  padding: 5px 0 5px 5px;
}
.message-from {
  font-size: 14px;
  font-weight: bold;
}
.message-from-photo {
  width: 65px;
  height: 65px;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  display: inline-block;
}
.message-empty-placeholder {
  margin-top: 30px;
  opacity: 0.6;
  font-style: italic;
  text-align: center;
}
.message-container img {
  height: 25px;
  width: 25px;
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
}
.message-header-photos img {
  width: 22px;
  height: 22px
}
.message-from-lastseen {
  opacity: 0.7;
}
.message-preview {
  opacity: 0.7;
}
.message-bubble {
  padding: 5px 10px;
  width: 80%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}
.message-content {
  font-size: 14px;
}
.message-sent-date {
  font-size: 10px;
  opacity: 0.6;
  margin-left: 10px;
}
.bubble-user {
  background: #dbedfe;
  float: right;
}
.bubble-from {
  float: left;
}


.ibox-matchmaker-title {
  height: 64px;
}
.ibox-matchmaker-title h5 {
  float: none
}

.feed-element .btn-undo {
  display: none;
}
.feed-element:hover .btn-undo {
  display: inline;
}


.map {
  height: 300px;
  width: 100%;
}