@(session: utils.tinder.model.TinderAuth)(implicit request: RequestHeader)
@main(
  title = "Inbox",
  js = "",
  extraTags = List("""<script src="/assets/js/app/inbox.js"></script>"""),
  session = session
) {
<div class="wrapper wrapper-content">
<div class="row">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-content mailbox-content">
        <div class="file-manager">
          <ul class="folder-list m-b-md inbox-message-list" style="padding: 0" data-bind="foreach: matches">
            <li data-bind="with: person, css:{active: $root.selectedMatchId()==_id()}">
              <a data-bind="attr: {href: '#/match/'+$parent._id()}">
                <img data-bind="attr:{src: mainPhoto}" alt=""> <span data-bind="text: name" class="message-from"></span>
                <span class="label label-danger pull-right" data-bind="text: $parent.unread_count(), visible: $parent.unread_count()>0"></span><br>
                <span data-bind="text: $parent.messagePreview" class="message-preview"></span>
              </a>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ko if: selectedMatch()==null -->
  <div class="col-lg-9 mailbox-col animated fadeInRight">
    <div class="wrapper wrapper-content">
      <div class="middle-box text-center animated fadeInRightBig">
        <h2 class="font-bold">Your Inbox</h2>

        <div class="error-desc">
          <p>To get started, select a conversation from the left.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->
  <!-- ko if: selectedMatch()!=null -->
  <div class="col-lg-9 mailbox-col animated fadeInRight" data-bind="with: selectedMatch">
    <div class="mail-box-header" data-bind="with: person">
      <div class="pull-right tooltip-ui">
        <a href="javascript:;" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Unmatch" data-bind="click: $root.unmatch"><i class="fa fa-frown-o"></i></a>
        <a href="javascript:;" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Report" data-bind="click: $root.reportUser"><i class="fa fa-exclamation-triangle"></i></a>
        <a href="javascript:;" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Report" data-bind="click: $root.getUpdates"><i class="fa fa-refresh"></i></a>
      </div>
      <h2>
        <img class="message-from-photo img-circle" data-bind="attr:{src: mainPhoto}" alt="">
        <span data-bind="text: name"></span>
        <!-- ko if: distance_mi()!=null -->
        <small><span data-bind="text: distance_mi"></span>mi</small>
        <!-- /ko -->
      </h2>
      <div class="mail-tools message-from-lastseen">
        <h3>
          <span class="font-noraml message-last-seen">
            seen <span data-bind="text: lastSeen"></span>
          </span>
        </h3>
      </div>
      <div class="clearfix"></div>
      <div class="mail-message">
        <div class="input-group">
          <input type="text" class="form-control input-md" name="message" placeholder="Write a message" data-bind="textInput: $root.messageDraft">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-md btn-primary" data-bind="click: $root.sendMessage">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mail-box">
      <div class="mail-body">
        <!-- ko if: messages().length==0 -->
        <div class="message-empty-placeholder">
          Get started by sending a friendly message.
        </div>
        <!-- /ko -->
        <div data-bind="foreach: messages">
          <div class="message-container">
            <img data-bind="attr:{src: $parent.person().mainPhoto()}, visible: from()==$parent.participants()[0]" alt="" class="img-circle">
            <div data-bind="css:{'bubble-from': from()==$parent.participants()[0], 'bubble-user': from()==getUserId()}" class="message-bubble">
              <span class="message-content" data-bind="text: message"></span><span class="message-sent-date" data-bind="text: sent"></span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- /ko -->
</div>
</div>
}