@(title: String, pageJS: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("style/bootstrap.min.css")" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="@routes.Assets.at("style/stylish-portfolio.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("style/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    @content


    <!-- jQuery -->
    <script src="@routes.Assets.at("js/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

    <!-- page-specific javascript -->
    <script type="text/javascript">
    $(document).ready(function () {
    @Html(pageJS)
    });
    </script>
  </body>
</html>
